/* VARIABLES  */

.App {
  text-align: center;
  border: 2px solid #222;
  /* border-radius: 15px; */
  background: var(--base-color);
  margin: 5vh auto;
  height: 90vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.yellowBlob {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
}

.blueBlob {
  width: 30%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.custom__button {
  outline: none;
  margin: auto;
  border-radius: 15px;
  border: none;
  width: 193px;
  height: 52px;
  background: var(--blue-color);
  color: var(--white-color);
  font-size: 1.5rem;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
}

/* WELCOME PAGE STYLE */
.app__welcomePage h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--blue-color);
  margin-bottom: 5px;
}

.app__welcomePage p {
  margin-bottom: 20px;
  color: var(--blue-color);
  font-weight: 400;
  font-size: 1rem;
}

.app__welcomePage button {
  margin-top: 3rem;
}

.app__question-container .yellowBlob,
.blueBlob {
  width: 15%;
}

.question__container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  justify-content: center; */
  height: 90vh;
  width: 50vw;
  border: 3px solid gold;
}

/* Question Card */

.app__questions {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  flex-direction: column;
  width: 100%;
}

.app__questions:not(:last-child) {
  margin-bottom: 0.5rem;
}

.question__section {
  border: 1px solid forestgreen;
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.app__questions hr {
  background-color: var(--hr-color);
  width: 100%;
}

.app__question {
  font-size: 1.2rem;
  color: var(--blue-color);
  font-weight: 600;
  margin: 0 0 0.3rem;
  width: 100%;
  text-align: left;
}

.app__question-options {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
}

.question-option {
  min-width: 75px;
  height: 30px;
  border-radius: 7px;
  outline: none;
  font-size: 1rem;
  color: var(--blue-color);
  background-color: var(--base-color);
  border: 0.7px solid var(--light-blue);
  cursor: pointer;
}

.question-option:hover {
  background: var(--hover-option);
}
/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  .App {
    margin-top: 0;
    width: 100%;
    height: 100vh;
  }

  .question__container {
    width: 100%;
  }

  .custom__button {
    width: 160px;
    height: 50px;
    font-size: 1.2rem;
  }

  .app__question-options {
    gap: 0.8rem;
  }
}

@media screen and (max-width: 400px) {
  .App {
    margin: 0;
    border: none;
  }
}
