@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  padding: 0 0 0 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #f5f7fb;
  /* background: red; */
}
