@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --blue-color: #293264;
  --white-color: #fff;
  --base-color: #f5f7fb;
  --body-color: #1c1c1c;
  --light-blue: #4d5b9e;
  --hover-option: #d6dbf5;
  --hr-color: #dbdef0;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  padding: 0 0 0 0;
  overflow-x: hidden;
  overflow-y: hidden;
  background: var(--body-color);
}
